n8n-workflows/newsletter-weekly-digest.json
{
  "name": "Newsletter Weekly Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1" }]
        }
      },
      "id": "cron-trigger",
      "name": "Every Monday 9:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.asigurari.ro/blog/feed.xml",
        "options": {}
      },
      "id": "fetch-rss",
      "name": "Fetch Blog RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse RSS and filter last 7 days\nconst xml = items[0].json.data || items[0].json.body || '';\nconst oneWeekAgo = new Date();\noneWeekAgo.setDate(oneWeekAgo.getDate() - 7);\n\n// Simple XML parsing for RSS items\nconst itemRegex = /<item>(.*?)<\\/item>/gs;\nconst posts = [];\nlet match;\n\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const itemXml = match[1];\n  const title = (itemXml.match(/<title>(.*?)<\\/title>/) || [])[1] || '';\n  const link = (itemXml.match(/<link>(.*?)<\\/link>/) || [])[1] || '';\n  const desc = (itemXml.match(/<description>(.*?)<\\/description>/) || [])[1] || '';\n  const pubDate = (itemXml.match(/<pubDate>(.*?)<\\/pubDate>/) || [])[1] || '';\n  const category = (itemXml.match(/<category>(.*?)<\\/category>/) || [])[1] || '';\n  \n  if (pubDate && new Date(pubDate) >= oneWeekAgo) {\n    posts.push({ title, link, description: desc, pubDate, category });\n  }\n}\n\nif (posts.length === 0) {\n  return []; // No new posts, stop workflow\n}\n\nreturn [{ json: { posts, count: posts.length } }];"
      },
      "id": "parse-posts",
      "name": "Parse & Filter Last 7 Days",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "const { posts, count } = items[0].json;\n\nlet html = `\n<div style=\"max-width:600px;margin:0 auto;font-family:Arial,sans-serif;\">\n  <div style=\"background:#1d4ed8;padding:30px;text-align:center;border-radius:12px 12px 0 0;\">\n    <h1 style=\"color:white;margin:0;font-size:24px;\">Blog Asigurari</h1>\n    <p style=\"color:#93c5fd;margin:8px 0 0;\">Noutati saptamanale</p>\n  </div>\n  <div style=\"background:white;padding:30px;border:1px solid #e5e7eb;\">\n    <p style=\"color:#374151;font-size:16px;line-height:1.6;\">Salut! Iata cele mai noi ${count} articole publicate saptamana aceasta:</p>\n`;\n\nfor (const post of posts) {\n  html += `\n    <div style=\"border-left:4px solid #22c55e;padding:12px 16px;margin:20px 0;background:#f9fafb;border-radius:0 8px 8px 0;\">\n      <a href=\"${post.link}\" style=\"color:#1d4ed8;font-weight:bold;font-size:16px;text-decoration:none;\">${post.title}</a>\n      <p style=\"color:#6b7280;font-size:14px;margin:8px 0 0;\">${post.description.substring(0, 150)}...</p>\n      <span style=\"color:#9ca3af;font-size:12px;\">${post.category}</span>\n    </div>`;\n}\n\nhtml += `\n    <div style=\"text-align:center;margin-top:30px;\">\n      <a href=\"https://www.asigurari.ro/blog\" style=\"display:inline-block;background:#1d4ed8;color:white;padding:12px 24px;border-radius:8px;text-decoration:none;font-weight:bold;\">Vezi toate articolele</a>\n    </div>\n  </div>\n  <div style=\"background:#f3f4f6;padding:20px;text-align:center;border-radius:0 0 12px 12px;border:1px solid #e5e7eb;border-top:0;\">\n    <p style=\"color:#9ca3af;font-size:12px;margin:0;\">Primesti acest email deoarece te-ai abonat la newsletter-ul asigurari.ro</p>\n    <p style=\"color:#9ca3af;font-size:12px;margin:4px 0 0;\"><a href=\"https://www.asigurari.ro/blog/newsletter/dezabonare/{{TOKEN}}\" style=\"color:#6b7280;\">Dezaboneaza-te</a></p>\n  </div>\n</div>`;\n\nreturn [{ json: { html, subject: `${count} articole noi pe blogul asigurari.ro`, count } }];"
      },
      "id": "generate-email",
      "name": "Generate Newsletter HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "fromEmail": "newsletter@asigurari.ro",
        "toEmail": "={{$env.NEWSLETTER_RECIPIENTS}}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}"
      },
      "id": "send-newsletter",
      "name": "Send Newsletter",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every Monday 9:00 AM": {
      "main": [[{ "node": "Fetch Blog RSS", "type": "main", "index": 0 }]]
    },
    "Fetch Blog RSS": {
      "main": [[{ "node": "Parse & Filter Last 7 Days", "type": "main", "index": 0 }]]
    },
    "Parse & Filter Last 7 Days": {
      "main": [[{ "node": "Generate Newsletter HTML", "type": "main", "index": 0 }]]
    },
    "Generate Newsletter HTML": {
      "main": [[{ "node": "Send Newsletter", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
